body {
  font: 400 20px / 2 Nunito, sans-serif;
}

header {
  font: 400 50px / 2 'Single Day', cursive;
}

#header {
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
  padding-top: 2%;
}

#header img {
  height: 180px;
}

#header-text {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: -32px;
}

li {
  padding-right: 50px;
}

a {
  text-decoration: none;
  color: #222;
}

h2 {
  font: 400 30px / 2 Lato, sans-serif;
}

#first {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}

#first img {
  width: 360px;
  height: 360px;
  margin-left: 40px;
}

#second {
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 30px;
}

#second img {
  width: 360px;
  height: 360px;
  margin-left: 40px;
}

#gallery {
  margin-top: -60px;
  padding: 80px;
}

#contact {
  padding-top: 30px;
  text-align: center;
}

#about {
  margin-top: -60px;
  padding-top: 30px;
  display: flex;
  padding-left: 170px;
  padding-right: 170px;
  align-items: flex-start;
}

#about h2 {
  text-align: center;
}

#about img {
  height: 400px;
  padding-top: 30px;
  justify-content: center;
}

#about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-top: 10px;
  margin-right: 50px;
}

#landing {
  display: flex;
  flex-direction: column;
}

#landing header {
  text-align: center;
  font: 400 100px / 2 'Single Day', cursive;
  margin-bottom: -50px;
}

#landing h2 {
  font: 400 30px / 2 'Single Day', cursive;
  margin-top: -30px;
}

#landing img {
  height: 40px;
}

#icons img {
  height: 200px;
}

#icons {
  display: flex;
  justify-content: center;
  position: relative;
}

#landing-text {
  display: flex;
  justify-content: center;
  margin-left: -70px;
}

#landing-text h2 {
  margin-left: 90px;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

#left img:last-child {
  display: none;
}

#left:hover img:last-child {
  display: inline-block;
}

#left:hover img:first-child {
  display: none;
}

#mid img:last-child {
  display: none;
}

#mid:hover img:last-child {
  display: inline-block;
}

#mid:hover img:first-child {
  display: none;
}

#right img:last-child {
  display: none;
}

#right:hover img:last-child {
  display: inline-block;
}

#right:hover img:first-child {
  display: none;
}

#left {
  margin: 0;
  padding: 0;
}

#mid {
  margin: 0;
  padding: 0;
}

#right {
  margin: 0;
  padding: 0;
}

.border {
  margin: auto;
  display: block;
  height: 100px;
  width: 100%;
}
