body {
  font: 400 20px / 2 Nunito, sans-serif;
}

header {
  font: 400 50px / 2 'Single Day', cursive;
}

#header {
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
  padding-top: 2%;
}

#header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding-right: 20px;
}

#header-text {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: -30px;
}

li {
  padding-right: 50px;
}
